* {
    box-sizing: border-box;
}

.container {
    height: 1000px;
    width: 100%;
}

#form {
    border: 2px solid black;
    width: 25%;
    margin: 0 auto;
    padding: 10px;
}

.Item {
    padding: 10px;
}

label {
    width: 20%;
    display: inline-block;
}